<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd">


    <!--    same as above code but using component scan-->
    <!--    the property inside studentDAOImpl class is autowired by @Autowired annoatation-->
    <context:annotation-config/>
    <context:component-scan base-package="org.DA0,org.service">
    </context:component-scan>

    <bean id="datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
            <constructor-arg name="url" value="jdbc:mysql://127.0.0.1/school"/>
            <constructor-arg name="username" value="root"/>
            <constructor-arg name="password" value="mysql12345"/>

        </bean>
        <bean id="jdbctemlate" class="org.springframework.jdbc.core.JdbcTemplate">
            <constructor-arg name="dataSource" ref="datasource"/>
        </bean>
<!--        <bean id="studentDAO" class="org.DA0.StudentDAOImpl">-->
<!--            <property name="jdbcTemplate" ref="jdbctemlate"/>-->
<!--        </bean>-->








</beans>